body{
    margin: 0;
    padding: 0;
    background:#fff;
    font-family: 'Montserrat';
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}
.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 1.5s linear infinite;
}
@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 3px 2px #008fff;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 3px 2px #008fff;
    }
}
.ring::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}
span{
    color: #008fff;
    font-size: 20px;
    text-transform: uppercase;
    animation: text 3s ease-in-out infinite;
}
@keyframes text {
    50% {
        color: #fff;
    }
}